<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-200">
  <head>
    <title>Better Projects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>

    <!--Inertia -->
    <%= javascript_include_tag "https://polyfill.io/v3/polyfill.min.js?features=smoothscroll,NodeList.prototype.forEach,Promise,Object.values,Object.assign", defer: true %>

    <!-- PingCRM -->
    <%= javascript_include_tag "https://polyfill.io/v3/polyfill.min.js?features=String.prototype.startsWith", defer: true %>

    <%= javascript_packs_with_chunks_tag 'application', defer: true %>
  </head>

  <body class="font-sans leading-none text-gray-800 antialiased">
    <noscript>
      <p>We're sorry but Better Projects doesn't work properly without JavaScript enabled. Please enable it to continue.</p>
    </noscript>

    <%= yield %>
  </body>
</html>
